<div class="container" *ngFor="let pel of pelicula">
<h1>Detalle {{pel.Tipo}}: {{pel.Nombre}}</h1>


  <div class="row">
<div  class="col-12">
  <div class="col-4">
    <!--<span>Nombre {{pelicula.Tipo}}: </span>  -->
    <span>{{pel.Nombre}}</span>
  </div>
  <div class="col-8">
    <span>Sipnosis: </span>  
    <span>{{pel.Sipnosis}}</span>
  </div>
  <span>{{pel.Temporada}}</span>
</div>
</div>
  <!-- Carga de las temporadas-->
  <div *ngFor= "let tempo of temporadas">
      <h4>{{tempo.nomTemporada}}</h4>      
    <div>
      <table class="table table-hover table-bordered">
          <thead>
              <th>Numero</th>
              <th>Episodio</th>
            </thead>
            <tbody>
                <tr *ngFor="let cap of tempo.episodios">
                  <td>{{cap.NumEpisodio}}</td>
                  <td>{{cap.Episodio}}</td>
                </tr>
            </tbody>
      </table>
    </div>
  </div>
</div> <!-- <div class="container"> -->