<div *ngFor="let pel of pelicula" class="container float-left">

  <div class="pb-3 mb-2">
    <span class="h1">Detalle {{pel.Tipo}}: {{pel.Nombre}}</span>
    <div class="float-right">
      <a href="editar-pelicula.html?id={{pel.Id}}" class="btn btn-info">Editar</a>
      <a href="eliminar-pelicula.html?id={{pel.Id}}" class="btn btn-danger">Eliminar</a>
    </div>
  </div>

  <div class="pb-2 mb-2">
    <span class="h5" >Nombre: </span> 
    <span>{{pel.Nombre}}</span>
  </div>

  <div class="pb-2 mb-2 pr-3 mr-2 float-left">
    <span class="h5">Estado: </span>
    <span>{{pel.Estado}}</span>
  </div>

  <div class="pb-2 mb-2 pr-3 mr-2 float-left">
    <span class="h5">Genero: </span>
    <span>{{pel.Genero}}</span>
  </div>

  <div class="pb-2 mb-2 pr-3 mr-2 float-left">
    <span class="h5">Productora: </span>  
    <span>{{pel.Productora}}</span>
  </div>

  <div class="pb-2 mb-2 pr-3 mr-2 float-left" *ngIf="pel.claveTipo!='PEL' && pel.claveTipo!='DIB' && pel.claveTipo!='PMA' ">
    <span class="h5">Nº Temporadas: </span>
    <span>{{pel.Temporada}}</span>
  </div>   
    
  <div class="pb-2 mb-2 pr-3 mr-2 float-left w-100">
    <span class="h5">Sipnosis: </span>  
    <span>{{pel.Sipnosis}}</span>
  </div>
      
      
      
    
    <div *ngIf="pel.claveTipo!='PEL' && pel.claveTipo!='DIB' && pel.claveTipo!='PMA' ">
      <div id="accordion">
        <div class="card">
          <div *ngFor= "let tempo of temporadas">
            
            <div class="card-header">
              <button class="btn btn-link" data-toggle="collapse" attr.data-target="#{{tempo.CodTemporada}}">{{tempo.NomTemporada}}</button>
              <a href="/edit-episode.html?serie={{pel.Clave}}&anadir=true" class="btn btn-success btn-sm">Añadir Capitulo</a>
            </div><!-- <div class="card-header"> -->
            
            <div id="{{tempo.CodTemporada}}" class="collapse" data-parent="#accordion">
              <div class="card-body">
                  <table class="table table-hover table-bordered">
                        <thead>
                            <th>Numero</th>
                            <th>Episodio</th>
                            <th>Formato</th>
                            <th colspan="2"></th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let cap of tempo.Episodios">
                                <td>{{cap.NumEpisodio}}</td>
                                <td>{{cap.Episodio}}</td>
                                <td>{{cap.Formato}}</td>
                                <td><a class="btn btn-sm btn-info" href="/edit-episode.html?id={{cap.Id}}&serie={{pel.Clave}}&anadir=false">Editar</a></td>
                                <td><a class="btn btn-sm btn-danger" href="/editar-capitulo.html?id={{cap.Id}}">Eliminar</a></td>
                              </tr>
                          </tbody>
                    </table>
              </div><!-- <div class="card-body"> -->
            </div><!-- <div id="a" class="collapse" data-parent="#accordion"> -->
          </div><!-- <div *ngFor= "let tempo of temporadas"> -->
        </div> <!-- <div class="card"> -->
      </div><!-- <div id="accordion"> -->
    </div><!-- <div *ngIf="pel.claveTipo!='PEL'"> -->
      
    </div> <!-- <div *ngFor="let pel of pelicula" class="container"> -->