<h1>Detalle Serie</h1>

<div class="container">
  <div class="row">
<div  class="col-12"  *ngFor="let pel of pelicula">
  <div class="col-4">
    <span>Nombre {{pel.Tipo}}: </span>  
    <span>{{pel.Nombre}}</span>
  </div>
  <div class="col-8">
    <span>Sipnosis: </span>  
    <span>{{pel.Sipnosis}}</span>
  </div>
  <span>{{pel.Temporada}}</span>
</div>
</div>
<!--<div *ngIf= "">-->
  <table class="table table-hover table-bordered">
    <thead>
      <th>Numero</th>
      <th>Temporada</th>
      <th>Episodio</th>
    </thead>
    <tbody>
        <tr *ngFor="let cap of episodios">
          <td>{{cap.NumEpisodio}}</td>
          <td>{{cap.Temporada}}</td>
          <td>{{cap.Episodio}}</td>
        </tr>
    </tbody>
  </table>
<!--</div>-->
</div>