<div *ngFor="let serie of listadoSeries">{{serie.Nombre}}</div>
<div class="container">
  <span class="h2">Insertar un episodio</span>
  <form [formGroup]="formepisodio">
    <div class="form-group">
      <label class="center-block" >Pelicula:
        <label>{{formepisodio.pelicula}}</label>
        <input class="form-control" formControlName="pelicula" readonly="readonly" type="text" />
        
        <select class="form-control" formControlName="listaSeries">
          <option selected="selected" value="">Seleccione una opción</option>
          <option *ngFor="let serie of listadoSeries" [ngValue]="serie.clave">{{serie.Nombre}}</option>
          <option>A</option>
          <option>B</option>
        </select>

      </label>
      <label class="center-block">Nombre Episodio:
        <input class="form-control" formControlName="episodio">
      </label>
      <label class="center-block">Temporada:
          <input type="number" class="form-control" formControlName="temporada">
        </label>
      <label class="center-block">Numero Episodio:
          <input type="number" class="form-control" formControlName="numEpisodio">
      </label>
    </div>
    <button (click)="onClick()" class="btn btn-success">Aceptar</button>
  </form>

  <h2>{{mensaje}}</h2>
</div>
