<div class="container">
  <span class="h2">Insertar un episodio</span>
  <form [formGroup]="formepisodio">
    <div class="form-group">
      <label class="center-block" style="width: 50%">Pelicula:
        <label>{{formepisodio.pelicula}}</label>
        <input class="form-control" formControlName="pelicula" readonly="readonly" type="text" />
        
        <select class="form-control" formControlName="listaSeries">
          <option selected="selected" value="">Seleccione una opción</option>
          <option *ngFor="let serie of listadoSerie" value="{{serie.Clave}}">{{serie.Nombre}}</option>
        </select>
      </label>
    </div>
    <div id="texto">
      <label class="center-block" style="width: 50%">Nombre Episodio:
        <input class="form-control" formControlName="episodio">
      </label>
    </div>
    <div>
      <label class="center-block">Temporada:
          <input type="text" class="form-control" formControlName="temporada">
      </label>
      <label class="center-block">Numero Episodio:
          <input type="text" class="form-control" formControlName="numEpisodio">
      </label>

      <label class="center-block">Formato Episodio:
        <select class="form-control" formControlName="formato">
          <option value="">Seleccione una opción</option>
          <option *ngFor="let forma of listadoFormatos" value="{{forma.Clave}}">{{forma.Nombre}}</option>
        </select>
      </label>
      
    </div>
    <button (click)="onClick()" class="btn btn-success">Aceptar</button>
  </form>
</div>
